table, th, td {
    border: 1px solid rgb(165, 165, 165);
    border-collapse: collapse;
}

table {
    margin: 0 0 16px;
}

th, td {
    text-align: center;
    padding: 0 12px 0 12px;
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(30, 30, 30);
    color: rgb(194, 194, 194);
}